﻿body {
}

.centreText {
    display: table;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Bookman Old Style';
    font-variant-caps: small-caps;
}

.centreTextNoFont {
    display: table;
    margin: auto;
    text-align: center;
    font-size: 16px;
    /*font-family: 'Bookman Old Style';*/
    font-variant-caps: small-caps;
}