﻿
img.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 200px;
}

.imageRadius{
    border-radius:50px;
}

.dropbtn {
    background: linear-gradient(180deg, #132774 0, #041456);
    color: white;
    font-size: 20px;
    border-style: hidden;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFF2F;
    /*min-width: 160px;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FF5D0B#A9FF00;
}

.borderSelection {
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    color: white;
}

.width50{
    width:50%;
}

.width40{
    width:40%;
}

width100{
    width:100%;
}

.errorText{
    display:table;
    color:rgb(255, 0, 0);
    font-weight:800;
    font-size:18px;
}
.errorTextHide{
    display:none;
}

.textAreaFeedback {
    width: 90%;
    height: 60%;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    outline:none;
    color:black;
}

.redBackground {
    /* background: linear-gradient(180deg, #ff0000 0, #910000); */
    background-image: url(../Content/box-sport-men-training-163403.jpeg);
    background-size: cover;
    background-color: black;
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
}
.k-window-title {
    background: linear-gradient(180deg, #132774 0, #041456);
    color: white;
    font-size: 20px;
    border-style: hidden;
}

element.style {
    margin-top: -33px;
}

.k-header, .k-grid-header-wrap, .k-grid .k-grouping-header, .k-grid-header, .k-pager-wrap, .k-pager-wrap .k-textbox, .k-pager-wrap .k-link, .k-grouping-header .k-group-indicator, .k-gantt-toolbar .k-state-default {
    border-color: #132774;
}

div.k-window-content {
    position: relative;
    height: 100%;
    padding: .58em;
    /*background: linear-gradient(180deg, #ff0000 0, #910000);*/
    overflow: auto;
    outline: 0;
}
.k-block, .k-header, .k-grid-header, .k-toolbar, .k-grouping-header, .k-pager-wrap, .k-button, .k-draghandle, .k-treemap-tile, html .km-pane-wrapper .k-header {
    background: linear-gradient(180deg, #132774 0, #041456);
    color: white;
}

.k-content, .k-editable-area, .k-panelbar > li.k-item, .k-panel > li.k-item, .k-tiles {
    background: black;
    color:white;
}

.terms{
    color:white;
}

