﻿

.topMenu {
    background: linear-gradient(180deg, #132774 0, #041456);
    color: white;
    font-size: 20px;
    border-style: hidden;
}

    .topMenu:focus {
        background: linear-gradient(180deg, #35FF00 0, #07FCCC);
        color: rgb(0, 0, 0);
        font-size: 20px;
        border-style: hidden;
    }

.topMenuDropDown {
    background: linear-gradient(180deg, #132774 0, #041456);
    color: white;
    font-size: 20px;
    border-style: hidden;
    border-radius:0px;
}
/*.topMenu:hover{
    background-color:rgb(255, 0, 0);
    color:white;
}*/

.MenuFooter {
    /*height: 100px;
    width: 100%;*/
    background-color: #0c1f67;
    color: rgb(255, 255, 255);
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width:580px) {
    .contentMargin {
     margin-top: 25px;
    }

    .bodySelection {
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        color: white;
        background-color: rgba(0,0,0,0.5);
    }

    .linkFooter {
        min-width: 50%;
        float: left;
        margin-left: 7%;
        margin-top: 7px;        
    }

    .LeaderboardBorder {
        width: 95%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .leagueBorder {     
        /*display: table;*/
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: rgba(0, 0, 0, 0.29);
        color: white;
    }

    .bodySelectionNew {      
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 3px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: white;
        background-color: rgba(0,0,0,0.6);
    }

    .selectionWLD {
        float: left;      
        width: 33%;
        border-style: solid;
        border-radius: 5px;
        border-color: black;
    }

    .middleBout {
        float: left;
        /*width: 20%;*/      
        margin: auto;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    .contentMargin {       
        margin-top: 25px;
    }

    .bodySelection {
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        color: white;
        background-color: rgba(0,0,0,0.5);
    }

    .linkFooter {
        min-width: 50%;
        float: left;
        margin-left: 7%;
        margin-top: 25px;
    }

    .LeaderboardBorder {
        width: 95%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .leagueBorder {      
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: rgba(0, 0, 0, 0.29);
        color: white;
    }

    .bodySelectionNew {       
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 0px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: white;
        background-color: rgba(0,0,0,0.6);
    }

    .selectionWLD {
        float: left;        
        width: 33%;
        border-style: solid;
        border-radius: 5px;
        border-color: black;
    }

    .middleBout {
        float: left;
        width: 20%;       
        margin: auto;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) and (max-width : 1224px) {
    .contentMargin {
        /*margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;*/
    }

    .bodySelection {
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        color: white;
        background-color: rgba(0,0,0,0.5);
    }

    .linkFooter {
        min-width: 50%;
        float: left;
        margin-left: 25%;
        margin-top: 25px;
    }

    .LeaderboardBorder {
        width: 95%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .leagueBorder {
        width: 70%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: rgba(0, 0, 0, 0.29);
        color: white;
    }

    .bodySelectionNew {
        width: 90%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 3px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: white;
        background-color: rgba(0,0,0,0.6);
    }

    .selectionWLD {
        float: left;        
        width: 33%;
        border-style: solid;
        border-radius: 5px;
        border-color: black;
    }

    .middleBout {
        float: left;
        width: 20%;
        /* margin: auto; */
        /* position: relative; */
        min-height: 1px;
        padding-right: 2px;
        padding-left: 2px;
    }
}

/* Extra Large screens ----------- */
@media only screen and (min-width : 1825px) {
    .contentMargin {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 25px;
    }

    .bodySelection {
        width: 70%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        color: white;
        background-color: rgba(0,0,0,0.5);
    }

    .linkFooter {
        min-width: 50%;
        float: left;
        margin-left: 25%;
        margin-top: 25px;
    }

    .LeaderboardBorder {
        width: 70%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .leagueBorder {
        width: 70%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: rgba(0, 0, 0, 0.29);
        color: white;
    }

    .bodySelectionNew {
        width: 90%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 3px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: white;
        background-color: rgba(0,0,0,0.6);
    }

    .selectionWLD {
        float: left;       
        width: 33%;
        border-style: solid;
        border-radius: 5px;
        border-color: black;
    }

    .middleBout {
        float: left;
        width: 20%;       
        margin: auto;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1224px) and (max-width : 1824px) {
    .contentMargin {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 25px;
    }

    .bodySelection {
        width: 70%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        color: white;
        background-color: rgba(0,0,0,0.5);
    }

    .linkFooter {
        min-width: 50%;
        float: left;
        margin-left: 25%;
        margin-top: 25px;
    }

    .LeaderboardBorder {
        width: 70%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .leagueBorder {
        width: 70%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: rgba(0, 0, 0, 0.29);
        color: white;
    }

    .bodySelectionNew {
        width: 90%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 3px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: white;
        background-color: rgba(0,0,0,0.6);
    }

    .selectionWLD {
        float: left;
        width: 33%;
        border-style: solid;
        border-radius: 5px;
        border-color: black;
    }

    .middleBout {
        float: left;
        width: 23%;
        /* margin: auto; */
        /* position: relative; */
        min-height: 1px;
        padding-right: 5px;
        padding-left: 5px;
    }
}


/*tablet portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .contentMargin {
        /*margin-left: 10%;
        margin-right: 10%;
        margin-top: 10%;*/
    }

    .bodySelection {
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        color: white;
        background-color: rgba(0,0,0,0.5);
    }

    .linkFooter {
        min-width: 50%;
        float: left;
        margin-left: 25%;
        margin-top: 25px;
    }

    .LeaderboardBorder {
        width: 95%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .leagueBorder {
        width: 70%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: rgba(0, 0, 0, 0.29);
        color: white;
    }

    .bodySelectionNew {
        width: 90%;
        display: table;
        margin: auto;
        margin-bottom: 20px;
        border-color: #e1e1e1;
        border-style: groove;
        border-radius: 15px;
        border-width: 3px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: white;
        background-color: rgba(0,0,0,0.6);
    }

    .selectionWLD {
        float: left;
        width: 33%;
        border-style: solid;
        border-radius: 5px;
        border-color: black;
    }

    .middleBout {
        float: left;
        width: 100%;
        /* margin: auto; */
        /* position: relative; */
        min-height: 1px;
        padding-right: 2px;
        padding-left: 2px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
}
/*tablet landscape*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}



.userDataStyle {
    float: right;
    /*background: linear-gradient(180deg, #132774 0, #041456);*/
    height: 50%;
    -ms-border-radius: 12px;
    border-radius: 12px;
    color: white;
    font-weight: bolder;
    font-size: medium;
    /*border-color: white;
    border-style: solid;
    border-width: 0.5px;*/
    padding-top: 1%;
    padding-right: 1%;
}

.rankings {
    border-color: #e1e1e1;
    border-style: groove;
    border-radius: 15px;
    border-width: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: rgb(206, 206, 206);
}

.headerTitlesRanking {    
    border-color: #e1e1e1;
    border-radius: 15px;
    border-width: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(180deg, #132774 0, #041456);
    color: white;
    padding-bottom:10px;
    padding-top:10px;
}
.headerTitleSelectionNew {
    width: 75%;
    margin-left: 12.5%;
    margin-top: 10px;
    border-color: #e1e1e1;
    border-radius: 6px;
    border-width: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(180deg, #132774 0, #041456);
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'PT Sans', sans-serif;
}
    .headerTitleSelection {
    width: 70%;   
    margin-left: 15%;
    margin-top: 60px;
    border-color: #e1e1e1;
    border-radius: 15px;
    border-width: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(180deg, #132774 0, #041456);
    color: white;
    padding-bottom:10px;
    padding-top:10px;
}

.centreText {
    display: table;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Bookman Old Style';
    font-variant-caps: small-caps;
}

.boutInfo {
    display: table;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Bookman Old Style';
    font-variant-caps: small-caps;
}

.k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
    /*background: linear-gradient(180deg, #132774 0, #041456);*/

    background-color: #0c1e67;  

    color: white;
    font-size: 15px;
    border-style: hidden;
}

.k-autocomplete.k-state-default, .k-picker-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-dropdown-wrap.k-state-default {   
    color: white;
    font-size: 20px;
    border-style: solid;
    border-color:black;
    border-width:1px
}


.k-popup.k-list-container, .k-popup.k-calendar-container {
    background: linear-gradient(180deg, #132774 0, #041456);
    color: white;   
    border-style: hidden;
}

.k-state-focused.k-state-selected, .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected {
    background: linear-gradient(180deg, #ff0000 0, #910000);
}






.leaderboardHeader {
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
    border-color: #e1e1e1;
    border-radius: 15px;
    border-width: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(180deg, #132774 0, #041456);
    color: white;
    padding-bottom:10px;
    padding-top:10px;
}

.leagueHeader {
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;    
    border-color: #e1e1e1;
    border-radius: 15px;
    border-width: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: linear-gradient(180deg, #132774 0, #041456);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.loginBox {
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #0e216a;
    text-align: center;
    font-weight: 900;
    color: #0e216a;
}

.width100{
    width:100%;
}

.padding5px{
    padding:5px;
}

.loginBtn {
    background: linear-gradient(180deg, #132774 0, #041456);
    color: white;
    font-weight: 800;
    border-color:rgb(0, 0, 0);
    border-width:2px;
    border-style:solid;
}

.masterMenu{
        height: 100%;
    width: 57%;
    /*display: table;*/
    margin: auto;
}

.selectionRightWLD {
    float: right;
    /* height: 50px; */
    width: 33%;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}

.margintop5px{
    margin-top:5px;
}

.leaderboardTable{

}

.leagueButton{
    height:50px;
}

.leagueDiv {
    margin-left: 5%;
    margin-right: 5%;
    /*width: 50%;*/
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    background-color: rgba(255, 255, 255, 0.57);
}

.leagueDivDiv {
   color:white;
   background:linear-gradient(180deg, #132774 0, #041456);
   border-radius: 5px;
   margin: 1px;
}

.rankingsDiv {
    width: 10%;
    float: left; 
    margin-left: 1%;
}



.boutDiv {
   position: relative;
   width: 100%;
}

.version {
    float: left;
}

.round-circle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-color: #103bad;
    color: #fff;
    font: 25px Sky Medium, sans-serif;
    text-align: center;
    padding-top: 2px;
    margin-left: 40%;
    margin-right: 10%;
    float:left;
}

.logoTop {
    width: 15vw;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}